@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans JP", sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #55a0c2, #9750be);
}
